/* Général */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

h1, h2, h3, h4, h5{
    font-family: Alata, Arial, sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
}

h1{
    font-size: 4em;
}

h2{
    font-size: 2em;  
}

h3{
    font-size: 1.2em;
    font-weight: bold;
}

h5{
    font-size: 1em;
    font-weight: normal;
}

p, li{
    font-family: 'Libre Caslon Display', Verdana, serif;
    font-weight: 600;
}

.color-yellow{
    color: #FECA07;
}

.sous-ligne{
    border-bottom: 3px solid #FECA07;
}

.fas{
    margin: 0 15px 15px;
    font-size: 1.5em;
    color: #FECA07;
}

/* Wrapper */
.wrapper{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
}

main{
    width: 100%;
    background-color: #eeeeee;
}

.inner{
    padding: 65px 50px 20px 50px; 
}

/* Header */
header{
    padding-bottom: 100px;
}

header h2{
    font-size: 1.8em;
    text-transform: none;
}

/* Section Main */


main h2{
    margin-bottom: 40px;
    font-weight: normal;
}

main h4{
    font-size: 1.2em;
    text-transform: initial;
}

.content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.description{
    flex-basis: 70%;
}

/* Sidebar */
.sidebar{
    width: 30%;
    min-width: 390px;
    background-color: #FECA07;
    display: flex;
    flex-direction: column;
}

/* Photo */
#photo{
    margin: 0 auto;
    padding: 65px 0 30px;
}

#photo > img {
    border-radius: 50%;
}

.sidebar h2{
    background-color: #404040;
    color: #FECA07;
    text-align: center;
    margin-bottom: 20px;
    font-weight: normal;
}

.sidebar p, .sidebar ul{
    padding: 0 50px 20px 50px;
}

#propos{
    flex-grow: 3;
}

#loisirs .fas {
    color: #404040;
    font-size: 2.5em;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px){
    .wrapper{
        flex-direction: column;
        width: 100%;
    }

    .sidebar{
        width: 100%;
    }

    .sidebar section{
        text-align: center;
    }
}

/* Phone */
@media screen and (max-width: 767px){
    .wrapper{
        flex-direction: column;
        width: 100%;
    }

    h1{
        font-size: 3em;
    }

    h2{
        font-size: 1.5em;
    }

    .fas{
        margin: 0 5px;
    }

    .sidebar{
        width: 100%;
        min-width: 320px;
    }

    .sidebar section{
        text-align: center;
    }

    .content{
        display: block;
    }

    .description{
        margin-bottom: 20px;
    }
}