/* Grid template */
.container-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 16.25rem 1fr;
    grid-template-rows: 194px auto;
    grid-template-areas:    "aside header"
                            "aside main";
    background-color: var(--color-bg-grid);
    max-width: 1000px;
    margin: auto;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.aside {
    grid-area: aside;
    background-color: var(--color-primary);
}

@media (max-width: 650px) {
    .container-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "header"
            "aside"
            "main";
    }

    .aside {
        margin-bottom: 3rem;
    }
}

/* Hero selection */
.hero {
    margin: var(--body-margin);
}

.hero__title {
    font-family: var(--header-font);
    font-size: var(--header-font-size);
    color: var(--color-primary);
}

.hero__name {
    color: var(--color-secondary);
    font-weight: 300;
}

.hero__subtitle {
    font-family: var(--header-font);
    color: var(--color-secondary);
}

@media (max-width: 850px) {
    .hero {
        text-align: center;
    }

    .hero__title {
        margin-bottom: 1.2rem;
    }
}

@media (max-width: 650px) {
    .hero {
        margin: 4rem 0;
    }   
}

/* Aside section */
.photo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.photo img {
    width: 50%;
    border-radius: 50%;
    border: 2px solid var(--color-secondary);
}


.contact__container, .about__container {
    padding: var(--about-padding);
}

.contact__container p {
    margin-bottom: 1rem;
}

.contact__link {
    text-decoration: none;
    color: var(--color-secondary);
    font-size: 0.8rem;
    font-weight: bold;
}

@media (max-width: 650px) {
    .contact__container {
        text-align: center;
    }   
}

.about__container p {
    text-align: justify;
    margin-bottom: 1.5rem;
}


.technologies {
    padding: var(--about-padding);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.technologies p {
    margin-bottom: 1rem;
}

.technologies p:last-child {
    margin-bottom: 0;
}

@media (max-width: 650px) {
    .technologies {
        text-align: center;
    }   
}

.loisirs {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    padding: var(--about-padding);
}