.main-title {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-family: var(--title-font);
    text-transform: uppercase;
    border-bottom: 2px solid var(--color-primary);
    margin: var(--body-margin);
    padding-bottom: 0.5rem;
}

.main-title__icon {
    font-size: var(--title-font-size);
    color: var(--color-primary);
}

@media (max-width: 850px) {
    .main-title {
        justify-content: center;
    }
}