@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

:root {
    --color-primary: #FECA07;
    --color-secondary: #404040;
    --color-bg: #E4E4E4;
    --color-txt: #404040;
    
    --body-font: "Roboto", sans-serif;
    --body-font-size: 1rem;
    --title-font: "Open Sans", sans-serif;
    --title-font-size: 1.5rem;
    --header-font: "Open Sans", sans-serif;
    --header-font-size: 3rem;
    --about-font-size: 0.8rem;
    --about-padding: 1rem 2rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg);
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    color: var(--color-txt);
}

a {
    color: var(--color-secondary);
    text-decoration: none;
    font-weight: bold;
}

header {
    grid-area: header;
}

aside {
    grid-area: aside;
    background: var(--color-primary);
    color: var(--color-secondary);
    font-size: var(--about-font-size);
}

img  {
    width: 50%;
    border-radius: 50%;
    border: 3px solid var(--color-secondary);
}

aside h2 {
    font-family: var(--title-font);
    font-size: var(--title-font-size);
    background: var(--color-secondary);
    color: var(--color-primary);
    text-align: center;
    padding: 0.5rem 0;
    text-transform: uppercase;
}

main {
    grid-area: main;
}

.container-grid {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 16.25rem 1fr;
    grid-template-areas:    "aside header"
                            "aside main";
}

.photo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.contact {
    padding: var(--about-padding);
}

.contact p {
    margin-bottom: 1rem;
}

.contact p:last-child {
    margin-bottom: 0;
}

.about {
    padding : var(--about-padding);
}

.about p {
    margin-bottom: 1.5rem;
    text-align: justify;
}

.about p:last-child {
    margin-bottom: 0;
}

.technologies {
    padding: var(--about-padding);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.technologies p {
    margin-bottom: 1rem;
}

.technologies p:last-child {
    margin-bottom: 0;
}

.loisirs {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    padding: var(--about-padding);
}