/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

/* Pages */
@import "pages/home.css";

/* Modules */
@import "modules/mainTitle.css";
@import "modules/information.css";
@import "modules/asideTitle.css";

/* Design system */
:root {
    --color-primary: #90B2CA;
    --color-secondary: #404040;
    --color-bg-grid: #E4E4E4;
    --color-bg-body: #282728;
    
    --body-font: "Roboto", sans-serif;
    --body-font-size: 1rem;
    --title-font: "Open Sans", sans-serif;
    --title-font-size: 1.5rem;
    --header-font: "Open Sans", sans-serif;
    --header-font-size: 3rem;

    --about-font-size: 0.8rem;
    --about-padding: 1rem 2rem;
    --body-margin: 0 2rem; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg-body);
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    color: var(--color-secondary);
}