/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

/* Pages */
@import "pages/home.css";

/* Modules */
@import "modules/mainTitle.css";

/* Design system */
:root {
    --color-primary: #90B2CA;
    --color-secondary: #404040;
    --color-bg-grid: #E4E4E4;
    --color-bg-body: #282728;
    
    --body-font: "Roboto", sans-serif;
    --body-font-size: 1rem;
    --title-font: "Open Sans", sans-serif;
    --title-font-size: 1.5rem;
    --header-font: "Open Sans", sans-serif;
    --header-font-size: 3rem;

    --about-font-size: 0.8rem;
    --about-padding: 1rem 2rem;
    --body-margin: 0 2rem; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg-body);
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    color: var(--color-secondary);
}


h3 {
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--header-font);
    text-transform: uppercase;
    margin: 1rem 0;
}

img  {
    width: 50%;
    border-radius: 50%;
    border: 2px solid var(--color-secondary);
}

aside h2 {
    font-family: var(--title-font);
    font-size: var(--title-font-size);
    background: var(--color-secondary);
    color: var(--color-primary);
    text-align: center;
    padding: 0.5rem 0;
    text-transform: uppercase;
}

main h2 {
    font-family: var(--title-font);
    font-size: var(--title-font-size);
    color: var(--color-secondary);
    text-transform: uppercase;
}

.experience {
    margin-bottom: 2rem;
}

.experience__cursus {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
}

.experience__cursus p {
    font-size: 0.8rem;
    font-weight: bold;
}

.experience__cursus--date {
    display: flex;
    min-width: 8rem;
    gap: 0.8rem;
    margin-top: 1rem;
}

.formation {
    margin-bottom: 2rem;
}

.formation__title {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 2px solid var(--color-primary);
    padding-bottom: 0.4rem;
    margin-bottom: 1rem;
}

.formation__cursus {
    display: flex;
}

.formation__cursus--date {
    display: flex;
    gap: 0.8rem;
    font-size: 0.8rem;
    font-weight: bold;
    min-width: 8rem;
    margin-top: 1rem;
}

.formation__cursus--detail{
    margin-bottom: 1rem;
}

.formation__cursus--detail, ul {
    margin-top: 0.8rem;
}

.far {
    color: var(--color-primary);
}

.photo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.contact {
    padding: var(--about-padding);
}

.contact p {
    margin-bottom: 1rem;
}

.contact p:last-child {
    margin-bottom: 0;
}

.about {
    padding : var(--about-padding);
}

.about p {
    margin-bottom: 1.5rem;
    text-align: justify;
}

.about p:last-child {
    margin-bottom: 0;
}

.technologies {
    padding: var(--about-padding);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.technologies p {
    margin-bottom: 1rem;
}

.technologies p:last-child {
    margin-bottom: 0;
}

.loisirs {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    padding: var(--about-padding);
}