$primary: #38383b;
$secondary: #a8a6a1;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #fff;
$dark: #000;
$badge-debutant: #065A6B;
$badge-intermediaire: #664D00;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "badge-debutant": $badge-debutant,
  "badge-intermediaire": $badge-intermediaire
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  background-color: #dfe0e1;
}

.sidebar {
  background: $primary;
  color: white;
  min-height: 100vh;
}

.sidebar-section {
  margin-bottom: 2rem;
}

.link-light {
  color: #f8f9fa;
}

.link-light:hover,
.link-light:focus {
  color: #e9ecef;
}

@media (max-width: 575.98px) {
  .text-justify-sm {
    text-align: justify;
  }
}